@font-face {
  font-family: 'FK Grotesk';
  src: url('../fonts/FKGrotesk-MediumItalic.woff2') format('woff2'),
      url('../fonts/FKGrotesk-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'FK Grotesk';
  src: url('../fonts/FKGrotesk-Regular.woff2') format('woff2'),
      url('../fonts/FKGrotesk-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fk Grotesk';
  src:       url('../fonts/Fk Grotesk mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fk Grotesk';
  src:       url('../fonts/FKGrotesk-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}