@font-face {
    font-family: 'FK Grotesk';
    src: url('../fonts/FKGrotesk-Regular.woff2') format('woff2'), url('../fonts/FKGrotesk-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fk Roman';
    src: url('../fonts/FKRomanDisplay-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Algebra';
    src: url('../fonts/AlgebraDisplay-Regular-Web.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}