@import "_fonts.css";
body {
    background: #222;
    font-family: Fk Grotesk;
    font-family: Fk Roman;
    --highlite-color: rgb(228, 235, 243);
    --second-color: rgb(68, 83, 76);
    --second-highlite: rgb(0, 51, 95);
    --fade-color: rgb(170, 176, 182);
    --first-fluo: orangered;
    --second-fluo: blueviolet;
    color: var(--highlite-color);
}

#sphere {
    fill: rgba(228, 235, 243, .9);
}

.graticule {
    fill: none;
    stroke-width: 0.15px;
    stroke-dasharray: 2, 2;
    stroke: #222;
}

.mappa {
    fill: var(--highlite-color);
    stroke: var(--second-highlite);
    stroke-width: 0.02;
}

.marineBorders {
    stroke-width: 0.1;
    opacity: .5;
    stroke: black;
    fill: rgba(255, 235, 205, .1);
}

.mainMarker {
    fill: var(--second-highlite);
    fill: var(--second-color);
}

.marineLegend {
    fill: #222;
    font-size: 2px;
}

.spoua {
    fill: none;
    stroke: var(--second-highlite);
    stroke-width: 0.1;
    font-size: 5px;
}

.spouaText {
    fill: var(--second-highlite);
}

#map {
    position: fixed;
    width: 90%;
}

#svg {
    width: 85%;
    height: auto;
    margin: auto;
    display: block;
}

#legend {
    font-size: .7rem;
    display: block;
    width: 400px;
}

#legend div {
    display: block;
    color: var(--fade-color);
}

#name,
#launch,
#reenter,
#owner {
    font-size: 1.4em;
}

.legend {
    fill: var(--fade-color);
    cy: 100px;
}

#maplegend {
    font-size: 1.2em;
    fill: rgb(150, 71, 225);
}

#launch:before {
    content: "Launch date: ";
    color: var(--fade-color);
}

#reenter:before {
    content: "Decay date: ";
    color: var(--fade-color);
}

#owner:before {
    content: "Ownership: ";
    color: var(--fade-color);
}

.markerSatellite,
.markerDebris,
.textSatellite,
.textDebris {
    fill: var(--first-fluo);
    opacity: 1;
    font-size: 5px;
    vertical-align: baseline;
}

.markerDebris,
.textDebris {
    fill: var(--second-fluo);
}

.markerSatellite,
.textSatellite {
    fill: var(--first-fluo);
}

.lineDebris,
.lineSatellite {
    stroke-width: .3px;
}

.lineDebris,
.disappearLineDebris {
    stroke: var(--second-fluo);
}

.lineSatellite,
.disappearLineSatellite {
    stroke: var(--first-fluo);
}

.disappearLineSatellite,
.disappearLineDebris {
    stroke-width: .1px;
    opacity: 0;
    -webkit-transition: stroke-width 12000ms, opacity 20s;
    transition: stroke-width 12000ms, opacity 20s;
}

.disappearSatellite,
.disappearTextSatellite {
    fill: var(--first-fluo);
}

.disappearDebris,
.disappearTextDebris {
    fill: var(--second-fluo);
}

.disappearSatellite,
.disappearDebris {
    r: .2px;
    opacity: .3;
    -webkit-transition: r 2000ms, opacity 20s;
    transition: r 2000ms, opacity 20s;
}

.disappearTextDebris,
.disappearTextSatellite {
    opacity: 0;
    font-size: 0px;
    /* -webkit-transition: opacity 20s, font-size 2000ms;
    transition: opacity 20s, font-size 2000ms;
     */
}

.reenteringPaths {
    fill: none;
    fill: rgba(255, 69, 0, .9);
    stroke-width: .1px;
    stroke-dasharray: 1, 1;
    stroke: var(--second-color);
    stroke: var(--first-fluo);
}

.disappearPaths {
    stroke: var(--second-color);
    stroke: var(--first-fluo);
    stroke-width: .1px;
    stroke-dasharray: 1, 1;
    opacity: .3;
    fill: rgba(255, 69, 0, .9);
    -webkit-transition: stroke-width 12000ms, opacity 10s;
    transition: stroke-width 12000ms, opacity 10s;
}

.asd {
    width: 40%;
    margin: 31.5%;
    display: block;
    margin-top: 18vh;
    fill: rgba(228, 235, 243, 1);
}