@import "_fonts.css";
body {
    background: #222;
    font-family: Fk Grotesk;
    font-family: Fk Roman;
    --highlite-color: rgb(228, 235, 243);
    --second-color: rgb(68, 83, 76);
    --second-highlite: rgb(0, 51, 95);
    --fade-color: rgb(170, 176, 182);
    --first-fluo: blueviolet;
    color: var(--highlite-color);
}

#sphere {
    fill: rgba(228, 235, 243, 1);
    fill: rgb(228, 235, 243);
}

.graticule {
    fill: none;
    stroke-width: .15;
    stroke-dasharray: 8, 8;
    stroke: var(--second-color);
}

.mappa {
    fill: var(--second-color);
    /* stroke: var(--second-highlite); */
    stroke-width: 0.01;
}

.navarea {
    stroke: var(--second-color);
    stroke-width: .15;
    stroke-dasharray: 2, 2;
    fill: none;
}

.navareaLegend {
    /* stroke: none;
    fill: var(--second-color); */
    stroke-width: .5;
    stroke-dasharray: 2, 2;
    stroke: var(--second-color);
    fill: none !important;
}

.navareaText {
    fill: #222;
    font-size: 5px;
}

.marineBorders {
    stroke-width: .15;
    stroke: var(--second-color);
    fill: var(--second-color);
}

.marineBordersLegend {
    fill: var(--second-color) !important;
}

.mainMarker {
    fill: var(--second-color);
}

.marineLegend {
    fill: #222;
    font-size: 2px;
}

.spoua {
    fill: none;
    stroke: var(--second-color);
    stroke-width: 0.1;
    font-size: 5px;
}

.spouaText {
    fill: var(--second-color);
}

#map {
    position: fixed;
    width: 90%;
}

#svg {
    width: 85%;
    height: auto;
    margin: auto;
    display: block;
}

#legend {
    font-size: 1.2rem;
    display: block;
    width: 380px;
}

#legend div {
    display: block;
    color: var(--fade-color);
}

#name,
#launch,
#reenter,
#owner,
.smallLegend {
    font-size: 1em;
    font-family: Fk Grotesk;
    fill: var(--first-fluo);
}

.smallLegend {
    font-size: .6em;
    fill: var(--second-color);
    /* -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.legend,
.smallLegend {
    fill: var(--fade-color);
}

#maplegend {
    font-size: 1.2em;
    fill: rgb(150, 71, 225);
}

#launch:before {
    content: "Launch date: ";
    color: var(--fade-color);
}

#reenter:before {
    content: "Decay date: ";
    color: var(--fade-color);
}

#owner:before {
    content: "Ownership: ";
    color: var(--fade-color);
}

.markerSatellite,
.markerDebris,
.textSatellite,
.textDebris {
    fill: var(--first-fluo);
    opacity: 1;
    font-size: 5px;
    vertical-align: baseline;
}

.markerSatelliteLegend {
    fill: var(--first-fluo);
}

.markerDebris,
.textDebris {
    fill: var(--second-color);
    fill: var(--first-fluo);
    /* fill: red; */
}

.markerSatellite,
.textSatellite {
    fill: var(--first-fluo);
    /* fill: blue; */
}

.lineDebris,
.lineSatellite {
    stroke-width: .3px;
}

.lineDebris,
.disappearLineDebris {
    stroke: var(--second-color);
    stroke: var(--first-fluo);
}

.lineSatellite,
.disappearLineSatellite {
    stroke: var(--first-fluo);
}

.disappearLineSatellite,
.disappearLineDebris {
    stroke: var(--second-color);
    stroke-width: .1px;
    opacity: 0;
    -webkit-transition: stroke-width 12000ms, opacity 20s;
    transition: stroke-width 12000ms, opacity 20s;
}

.disappearSatellite,
.disappearTextSatellite {
    fill: var(--second-color);
}

.disappearDebris,
.disappearTextDebris {
    fill: var(--second-color);
}

.disappearSatellite,
.disappearDebris {
    r: .1px;
    opacity: .3;
    -webkit-transition: r 2000ms, opacity 20s;
    transition: r 2000ms, opacity 20s;
}

.disappearTextDebris,
.disappearTextSatellite {
    opacity: 0;
    font-size: 5px;
    -webkit-transition: opacity 20s;
    transition: opacity 20s;
}

.reenteringPaths {
    fill: none;
    stroke-width: .25;
    stroke: var(--second-color);
}

.disappearPaths {
    stroke: var(--second-color);
    stroke-width: .25;
    opacity: .3;
    -webkit-transition: stroke-width 12000ms, opacity 10s;
    transition: stroke-width 12000ms, opacity 10s;
}

.asd {
    width: 40%;
    margin: 31.5%;
    display: block;
    margin-top: 18vh;
    fill: rgba(228, 235, 243, 1);
}